@model aGrouponProjectMain.Controllers.tDealBuyModel
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!-- BLOG -->
@using (Html.BeginForm("BuyProduct", "Deal", FormMethod.Post, new { id = "add-form", @class = "stdform stdform2" })) {

    <div class="blog-home">
        <div class="blog-left">
            <div class="single-deals-title">
                Submit Order</div>
            <!--/title-blog-->
            <div class="single-deals-text">
                <table width="100%">
                    <tr>
                        <td style="text-align: left">
                            Deal
                        </td>
                        <td style="text-align: left">
                            Quantity
                        </td>
                        <td style="text-align: left">
                            Price
                        </td>
                        <td style="text-align: left">
                            Total
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left">@Html.DisplayFor(model => model.currentDeal.DealTitle)
                        </td>
                        <td style="text-align: left">@Html.TextBoxFor(model => model.Quantity, new { width = "50px" })@Html.ValidationMessageFor(model => model.Quantity)
                        </td>
                        <td style="text-align: left">@Html.DisplayFor(model => model.currentDeal.DealPrice)
                        </td>
                        <td style="text-align: left">@Html.DisplayFor(model => model.currentDeal.DealPrice)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: left">
                            Total Amount Of Orders
                        </td>
                        <td style="text-align: left">@Html.DisplayFor(model => model.currentDeal.DealPrice)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left">
                            Mobile No:
                        </td>
                        <td colspan="3" style="text-align: left">@Html.TextBoxFor(model => model.MobilePhone)@Html.ValidationMessageFor(model => model.MobilePhone)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left">
                            Buyer Notes:
                        </td>
                        <td colspan="3" style="text-align: left">@Html.TextAreaFor(model => model.BuyerNotes, new { cols="35",rows="3"})@Html.ValidationMessageFor(model => model.BuyerNotes)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left" colspan="4">
                            <button type="submit">
                                Checkout</button>
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(model => model.IDDeal)
            </div>
            <!--/text-->
        </div>
        <!--/blog-left-->
    </div>
    <!--blog-home-->
}
