@model aGrouponProjectMain.Models.LogOnModel
@{
    Layout = null;
}


@{
    ViewBag.Title = "Log On";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Login Page | Amanda Admin Template</title>
<link rel="stylesheet" href="@Url.Content("~/adminTemplate/css/style.default.css")" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/adminTemplate/js/plugins/jquery-1.7.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/adminTemplate/js/plugins/jquery-ui-1.8.16.custom.min.js")")"></script>
<script type="text/javascript" src="@Url.Content("~/adminTemplate/js/plugins/jquery.cookie.js")"></script>
<script type="text/javascript" src="@Url.Content("~/adminTemplate/js/plugins/jquery.uniform.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/adminTemplate/js/custom/general.js")"></script>
<script type="text/javascript" src="@Url.Content("~/adminTemplate/js/custom/index.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="@Url.Content("~/adminTemplate/css/style.ie9.css")"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="@Url.Content("~/adminTemplate/css/style.ie8.css")"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

<script type="text/javascript" charset="utf-8">

    jQuery('#DescriptionDiv').click(function () {
        jQuery('#DescriptionDiv').hide();
    });

    jQuery(function () {
        jQuery('#form_login').submit(function (event) {
            // Stop full page load
            event.preventDefault();
            var submitBt = jQuery("#btnSubmit");
            if (ajaxValidate()) {
                var ReturnUrlstr = querySt("ReturnUrl");
                var target = jQuery(this).attr('action');
                var data = {
                    UserName: jQuery('#UserName').val()
															, Password: jQuery('#Password').val(),
                    ReturnUrl: ReturnUrlstr
                };

                if (!target || target == '') {
                    // Page url without hash
                    target = document.location.href.match(/^([^#]+)/)[1];
                }
                var sendTimer = new Date().getTime();
                jQuery.ajax({
                    url: target,
                    dataType: 'json',
                    type: 'POST',
                    data: data,
                    success: function (data, textStatus, XMLHttpRequest) {
                        if (data.valid) {
                            // alert(data.Message);
                            jQuery("#DescriptionDiv").show();
                            jQuery("#DescriptionDiv").html(data.Message);
                            submitBt.removeAttr("disabled");
                            RedirectIfPossible(sendTimer, data);
                        }
                        else {
                            // Message
                            jQuery("#DescriptionDiv").show();
                            jQuery("#DescriptionDiv").html(data.Message);
                            submitBt.removeAttr("disabled");
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        // Message
                        jQuery("#DescriptionDiv").show();
                        jQuery("#DescriptionDiv").html(data.Message);
                        submitBt.removeAttr("disabled");
                    }
                });
            }
        });
    });

    function ajaxValidate() {
        var result = jQuery("#login").validate().form();
        if (result) {
            jQuery("#btnSubmit").attr("disabled", "disabled");
        }
        return result;
    }

    function RedirectIfPossible(sendTimer, data) {
        if (data.redirect != "none") {
            var receiveTimer = new Date().getTime();
            if (receiveTimer - sendTimer < 500) {
                setTimeout(function () {
                    document.location.href = data.redirect;
                }, 500 - (receiveTimer - sendTimer));
            }
            else {
                document.location.href = data.redirect;
            }
        }
    }

    function querySt(ji) {
        hu = window.location.search.substring(1);
        gy = hu.split("&");
        for (i = 0; i < gy.length; i++) {
            ft = gy[i].split("=");
            if (ft[0] == ji) {
                return ft[1];
            }
        }
    }

</script>

</head>

<body class="loginpage">

	<div class="loginbox">
    	<div class="loginboxinner">
        	
            <div class="logo">
            	<h1><span>COUPON.</span>KG</h1>
                <p>Admin Pages</p>
            </div><!--logo-->
            
            <br clear="all" /><br />
            
            <div class="nousername">
				<div class="loginmsg">The password you entered is incorrect.</div>
            </div><!--nousername-->
            
            <div class="nopassword">
				<div class="loginmsg">The password you entered is incorrect.</div>
                <div class="loginf">
                    <div class="thumb"><img alt="" src="@Url.Content("~/adminTemplate/images/thumbs/avatar1.png")" /></div>
                    <div class="userlogged">
                        <h4></h4>
                        <a href="@Url.Content("~/adminTemplate/index.html")">Not <span></span>?</a> 
                    </div>
                </div><!--loginf-->
            </div><!--nopassword-->
            @if (!Request.IsAuthenticated) {
                using (Html.BeginForm("Logon", "Account", FormMethod.Post, new { id = "login"})) {
                
                    <div class="username">
                	    <div class="usernameinner">
                    	     @Html.TextBoxFor(m => m.UserName)
                                @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    
                     <div class="password">
                	    <div class="passwordinner">
                    	    @Html.PasswordFor(m => m.Password)
                                @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                            
                    <button id="btnSubmit">Giriş Yap</button>
                
                     <div class="keep"> @Html.CheckBoxFor(m => m.RememberMe)@Html.LabelFor(m => m.RememberMe, "Beni Hatırla")</div>   
                        }
            }


            
            
        </div><!--loginboxinner-->
    </div><!--loginbox-->


</body>

</html>


